Source: trello-cli
Section: python
Priority: optional
Maintainer: Tobias Koch <tobias.koch@gmail.com>
Build-Depends: debhelper (>=9),
 dh-python,
 python3-all,
 python3-setuptools
Standards-Version: 3.9.6
Homepage: 
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2

Package: python3-trello-cli
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-requests
Description: simple Trello API client library and CLI (Python 3)
 This package contains a Python module that allows you to retrieve
 information about your Trello boards, lists and cards.
 .
 It comes with a simple CLI program.
 .
 This package is only available for Python3.

