Source: trello-cli
Section: python
Priority: optional
Maintainer: Tobias Koch <tobias.koch@gmail.com>
Build-Depends: debhelper (>=9),
 dh-python,
 python3-all,
 python3-setuptools
Standards-Version: 3.9.6
Homepage: https://github.com/tobijk/trello-cli
X-Python3-Version: >= 3.2

Package: python3-trello-cli
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
 python3-requests,
 python3-dateutil
Description: Trello command line interface and API (Python 3)
 This package provides a command line tool to interact with
 the Trello API. It allows you to list boards, lists and cards
 and to create new cards or move them between lists.
 .
 This package is only available for Python3.

