#!/usr/bin/make -f

export DH_VERBOSE = 1
export PYBUILD_NAME=trello-cli

%:
	dh $@  --with python3 --buildsystem=pybuild

override_dh_auto_clean:
	rm -fr lib/trello_cli.egg-info
	rm -fr .pybuild
	dh_clean
